<!doctype html>
<html lang="en-US" ng-app="tas">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Title</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <div class="container" ng-controller="TasController as tas">
      <h1>My TAddress Book</h1>
      <form ng-submit="tas.addTA()">
        <label>Enter your TA's info:</label>
        <input  class="reset" ng-model="tas.newName" placeholder="Nick Name">
        <input  class="reset" ng-model="tas.newFirstName" placeholder="First Name">
        <input  class="reset" ng-model="tas.newLastName" placeholder="Last Name">
        <input type="submit" value="Save"></button>
      </form>
      <br>
      Search: <input ng-model="friendFilterQuery">
      <br>
      Sort:
      <button ng-click="friendReverse=!friendReverse">Change Sort</button>
      <br>
      <table class="table table-striped">
        <tbody>
          <th>Nick Name</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Remove</th>
          <tr class="hellofriends" ng-repeat="person in tas.data
             | filter:friendFilterQuery
             | orderBy:['current','-nickName']:friendReverse">
            <td>{{person.nickName | uppercase}}</td>
            <td>{{person.firstName}}</td>
            <td>{{person.lastName}}</td>
            <td>
              <button ng-click="tas.removeTA(person)">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

